@model PiranhaCMS.PublicWeb.Models.ViewModels.SearchPageViewModel

<partial name="Partial/_PageHeaderWithBreadcrumb.cshtml" model="Model.CurrentPage" />

<div class="container-fluid py-6 px-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <div class="row g-5">
                <image-cache model="Model.CurrentPage.PrimaryImage"
                             css="img-fluid w-100 mb-5"
                             srcset="960x540|1280x720|1600x900"
                             sizes="100vw" />

                @if (string.IsNullOrEmpty(Model.SearchResult.SearchText))
                {
                    <p>
                        @Model.CurrentPage.Excerpt
                    </p>
                }
                <partial name="Partial/_SearchResult" model="@Model.SearchResult" />
            </div>
        </div>
        <div class="col-lg-4">
            <partial name="Partial/_SearchSideBar.cshtml" model="Model" />
        </div>
    </div>
</div>
