
@using Piranha

<nav >
    <ul class="bread-crumb clearfix">
          <li><a href="/">Home</a></li>
        @foreach (var item in WebApp.Site.Sitemap.GetBreadcrumb(WebApp.PageId))
        {
        <li >
            @if (item.Id != WebApp.PageId)
                {
            <a href="@item.Permalink">@item.MenuTitle</a>
                }
                else
                {
            <span>@item.MenuTitle</span>
                }
        </li>
        }
    </ul>
</nav>

