@model Piranha.Extend.Blocks.ContentBlock
@using PiranhaCMS.ContentTypes.Content





						<a href="#">
							<figure>
                
								<img class="logo logo-institution" alt="Logo" title="@Model.GetTitle()" src=""> 
								<figcaption class="hidden" style="opacity: 1"> </figcaption> 
							</figure>
						</a>

                               
