@model PiranhaCMS.ContentTypes.Blocks.ServicesBlockGroup

<div class="row">
  
    <h2>@Model.Heading.Value</h2>
    
    @if (Model.Items != null && Model.Items.Count > 0)
    {
        foreach (var item in Model.Items)
        {
            <partial name="TeaserBlock.cshtml" model="@item" />
        }
    }
</div>