@using PiranhaCMS.Common.Extensions
@using PiranhaCMS.ContentTypes.Enums;
@using PiranhaCMS.ContentTypes.Pages
@model PiranhaCMS.ContentTypes.Blocks.TeaserBlock
@{
    var textColumnIndex = Model.ImagePosition.Value == ImagePositionEnum.Left ? 2 : 1;
    var imageColumnIndex = Model.ImagePosition.Value == ImagePositionEnum.Right ? 2 : 1;
}

<div class="container-fluid bg-secondary p-0">
    <div class="row g-0">
        <div class="col-lg-6 order-@imageColumnIndex teaser-image" style="min-height: 400px;">
            <div class="position-relative h-100">
                <image-cache model="Model.Image"
                             css="position-absolute w-100 h-100"
                             style="object-fit: cover;"
                             srcset="960x600|1280x800"
                             mode="Crop"
                             sizes="100vw" />
            </div>
        </div>
        <div class="col-lg-6 order-@textColumnIndex py-6 px-5 teaser-text">
            @if (Model.Heading != null)
            {
                <h1 class="display-5 mb-4">@Model.Heading.Value</h1>
            }
            @if (Model.LeadText != null)
            {
                <h4 class="text-primary mb-4">@Model.LeadText.Value</h4>
            }
            @if (Model.MainText != null)
            {
                <p class="mb-4">@Html.Raw(Model.MainText)</p>
            }
        </div>
    </div>
</div>
