@model Piranha.Extend.Blocks.HtmlBlock





				<div class="grid-container grid-container-padded">
					<div class="grid-x">
						<div class="cell large-12 text-justify ">		

                                        @Html.Raw(Model.Body)

								
								</div><!-- /.section-body -->

			
							</div>
						</div><!-- /.radius.shadow -->
					</div>
				</div>
