@using PiranhaCMS.PublicWeb.Models.ViewModels.Base
@model IPageViewModel<PiranhaCMS.ContentTypes.Pages.Base.IPage>
@using PiranhaCMS.ContentTypes.Regions
<!-- Footer Style Three -->
	<footer class="footer-style-three">
		<div class="side-title">maquiagr<span>o</span></div>
		
		<div class="auto-container">
			<!-- Upper Box -->
			<div class="upper-box">
				<div class="row clearfix">
				
					<!-- Info Box -->
					<div class="info-box col-lg-4 col-md-6 col-sm-12">
						<div class="box-inner">
							<div class="content">
								<span class="icon flaticon-industry"></span>
								<strong>Address</strong>
								<div class="text">Rua Da Poça Nr. 1144<br> 4775-253</div>
								<div class="text">Viatodos, Barcelos, Portugal</div>
								
							</div>
						</div>
					</div>
					
					<!-- Info Box -->
					<div class="info-box col-lg-4 col-md-6 col-sm-12">
						<div class="box-inner">
							<div class="content">
								<span class="icon flaticon-mail"></span>
								<strong>Email Address</strong>
								<div class="text">
									geral@maquiagro.pt
									<br><br><br>
								</div>
								
							</div>
						</div>
					</div>
					
					<!-- Info Box -->
					<div class="info-box col-lg-4 col-md-6 col-sm-12">
						<div class="box-inner">
							<div class="content">
								<span class="icon flaticon-call"></span>
								<strong>Phone</strong>
								<div class="text">
									+351 (252) 321-7654<br>
							<br><br>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<!-- Widgets Section -->
			<div class="widgets-section">
				<div class="row clearfix">
					
					<!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget about-widget">
							<h4>About Industry</h4>
							<div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</div>
							
						</div>
					</div>
					
					<!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget links-widget">
							<h4>Quick Links</h4>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<ul class="list">
										<li><a href="#">About Us</a></li>
									
										<li><a href="#">Services</a></li>
										<li><a href="#">Privacy Policy</a></li>
										<li><a href="#">Projects</a></li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<ul class="list">
										<li><a href="#">Help Desk</a></li>
										<li><a href="#">Produtos</a></li>
										<li><a href="#">Contact</a></li>
										<li><a href="#">Faq</a></li>
										<li><a href="#">Team</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget newsletter-widget">
							<h4>Newsletter</h4>
							<div class="widget-content">
								<div class="text">If you have any questions. Subscribe to our newsletter to get our latest products.</div>
								<!-- Email Box -->
								<div class="email-box-three">
									<form method="post" action="contact.html">
										<div class="form-group">
											<input type="email" name="search-field" value="" placeholder="Enter Email Address" required>
											<button type="submit"><span class="icon flaticon-mail"></span></button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="footer-bottom">
				<div class="copyright">Copyright 2023 <a href="https://maquiagro.pt">maquiagro</a>, All Right Reserved.</div>
			</div>
			
		</div>
	</footer>
	<!-- End Footer Style Three -->