@model PiranhaCMS.ContentTypes.Blocks.Counter2Block
@using PiranhaCMS.ContentTypes.Content
@using PiranhaCMS.ContentTypes.Regions



	<!-- Counter Column -->
				<div class="counter-column col-lg-4 col-md-6 col-sm-12">
					<div class="inner-column centered">
				
						<h3><span class="odometer" data-count="1500"></span>+</h3>
						<div class="counter-text">@Model.Title</div>
					</div>
				</div>