@model PiranhaCMS.ContentTypes.Regions.SimpleHero


<section class="hero">
    <div class="caption">
        <article class="hero__content">
            <div class="wrap">
                <!--    grid 1   -->
                <div class="grid-x align-middle grid-padding-x align-center">


                    <div class="small-12  medium-12 large-12 cell align-center text-center">
                        <h1 class="cl1">@Html.Raw(Model.Heading)</h1>
                        <span class="dot-white"></span>
                        <span class="dot-white"></span>
                        <span class="dot-white"></span>
                    </div>

                </div>
        </article>
    </div>
</section>
<!--    End Hero Caption    -->
